datasets/ds-a-open-rebar-v1/train/images/*
datasets/ds-a-open-rebar-v1/train/labels/*
datasets/ds-a-open-rebar-v1/valid/images/*
datasets/ds-a-open-rebar-v1/valid/labels/*
datasets/ds-a-open-rebar-v1/test/images/*
datasets/ds-a-open-rebar-v1/test/labels/*

datasets/ds-b-custom-sam3-v1/train/images/*
datasets/ds-b-custom-sam3-v1/train/labels/*
datasets/ds-b-custom-sam3-v1/valid/images/*
datasets/ds-b-custom-sam3-v1/valid/labels/*
datasets/ds-b-custom-sam3-v1/test/images/*
datasets/ds-b-custom-sam3-v1/test/labels/*

datasets/ds-c-open-sam3-v1/train/images/*
datasets/ds-c-open-sam3-v1/train/labels/*
datasets/ds-c-open-sam3-v1/valid/images/*
datasets/ds-c-open-sam3-v1/valid/labels/*
datasets/ds-c-open-sam3-v1/test/images/*
datasets/ds-c-open-sam3-v1/test/labels/*

rebar-segementation-yolo26/results/*
